<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="robots" content="noindex, noarchive,nofollow">
    <meta name="googlebot" content="noindex, noarchive,nofollow">

<title>Admin | NAO </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/animate.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/material-design-iconic-font.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/fullcalendar.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/jquery.mCustomScrollbar.min.css') }}" >

        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/sweet-alert.css') }}" >

        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/app.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/ocback/css/demo.css') }}" >

    {% endblock stylesheets %}

</head>

<body>

    {# Header #}
    {% include 'OCBackBundle:_components:header.html.twig' %}

    {# Sidebar #}
    {% include 'OCBackBundle:_components:sidebar.html.twig' %}

    {# Content #}
    {% block content %}{% endblock content %}

    {# Footer #}
    {% include 'OCBackBundle:_components:footer.html.twig' %}

    <!-- Older IE Warning Message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1 class="c-white">Attention!!</h1>
        <p>Vous utilisez un navigateur obsolète, <br/>merci de le mettre à jour pour profiter pleinement du site.</p>
    </div>
    <![endif]-->

    <!-- Javascript Libraries -->
    {% block javascripts_body %}
        <script src="{{ asset('bundles/ocback/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.flot.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.sparkline.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/jquery.flot.tooltip.min.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/bootstrap-growl.min.js') }}"></script>

        <!-- Charts - Please read the read-me.txt inside the js folder-->
        <script src="{{ asset('bundles/ocback/js/charts.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/sweet-alert.min.js') }}"></script>
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
        <script src="{{ asset('bundles/ocback/js/jquery.placeholder.min.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('bundles/ocback/js/functions.js') }}"></script>
        <script src="{{ asset('bundles/ocback/js/demo.js') }}"></script>

        <script type="text/javascript">

            if (navigator.geolocation)
                navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
            else
                alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");

            function successCallback(position){
                alert("Latitude : " + position.coords.latitude + ", longitude : " + position.coords.longitude);
            };

            function errorCallback(error){
                switch(error.code){
                    case error.PERMISSION_DENIED:
                        alert("L'utilisateur n'a pas autorisé l'accès à sa position");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        alert("L'emplacement de l'utilisateur n'a pas pu être déterminé");
                        break;
                    case error.TIMEOUT:
                        alert("Le service n'a pas répondu à temps");
                        break;
                }
            };

        </script>


    {% endblock javascripts_body %}

    {% block custom_script %}




    {% endblock custom_script %}



</body>
</html>