{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Détails Espèces{% endblock title %}

{% block body %}
    {% for o in observation %}
    <div id='main' role='main'>
        <div id='main-content-header'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <h1 class='title'>
                            Détail de l'observation
                        </h1>

                    </div>
                </div>
            </div>
        </div>
        <div id='main-content'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                        <nav class='sidebar sidebar-fixed'>
                            <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                                <span class='sr-only'>Toggle navigation</span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                            </button>
                            <div class='sidebar-collapse collapse'>
                                <div class='box'>
                                    <h3 class='title'>Info</h3>
                                    <ul class='list-unstyled list-padded'>
                                        <li>
                                            <i class='fa fa-user text-contrast fa fa-fixed-width'></i>
                                            {{ o.user.firstname|upper }} {{ o.user.lastname|upper }}
                                        </li>
                                        <li>
                                            <i class='fa fa-calendar text-contrast fa fa-fixed-width'></i>
                                            {{ o.createdAt|date('d/m/Y') }}
                                        </li>
                                        <li>
                                            <i class='fa fa-map-marker text-contrast fa fa-fixed-width'></i>
                                            Lat :{{ o.latitude }}
                                        </li>
                                        <li>
                                            <i class='fa fa-compass text-contrast fa fa-fixed-width'></i>
                                            Long :{{ o.longitude }}
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </nav>
                    </div>
                    <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class="panel panel-bordered panel-contrast mg-b">
                                    <div class="panel-heading" style="font-size:1.5em;">{{ o.title }}</div>
                                    <div class="panel-body">
                                        <div class="col-sm-3 mg-b">
                                            <a href="{{ asset('uploads/img/'~o.image.url) }}" data-lightbox-gallery="lightbox-test" data-lightbox="">
                                                <img width="165" height="165" src="{{ asset('uploads/img/'~o.image.url) }}" alt="{{ o.image.alt }}">
                                            </a>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>{{ o.dsc }}</p>
                                        </div>
                                    </div>
                                </div>




                                       {# <img alt="" width="50%" src="{{ asset('uploads/img/'~o.image.url) }}" alt="{{ o.image.alt }}" />

                                  #}



                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='page-header page-header-with-icon'>
                                    <i class='fa fa-map'></i>
                                    <h2>
                                        Localisation
                                    </h2>
                                </div>

                                <div class='row portfolio-boxes'>

                                    <div>
                                        <iframe width="100%" height="300" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANBtQTfYYmlHK4ti3yxT-mmL5Kb0WJQpE
                                        &q={{o.latitude }},{{ o.longitude }}&zoom=15
                                        &maptype=satellite" allowfullscreen>

                                        </iframe>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class='fade' id='scroll-to-top'>
            <i class='fa fa-chevron-up'></i>
        </div>
    </div>


    {% endfor %}
{% endblock body %}






