{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Observations{% endblock title %}

{% block body %}

    <div id='main' role='main'>
        <div id='main-content-header'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <h1 class='title'>Observations</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id='main-content'>
            <div class='container'>

                <div class='row'>
                    <div class='col-sm-12'>
                        <div id='main-content'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>


                                        <nav class='sidebar'>
                                            <div class="button-wrapper sidebar-toggle">
                                                <button class='btn btn-block btn-contrast' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                                                    <span class='sr-only'>Toggle navigation</span>
                                                    <span class='icon-bar'></span>
                                                    <span class='icon-bar'></span>
                                                    <span class='icon-bar'></span>
                                                </button>
                                            </div>
                                            <div class='sidebar-collapse collapse'>

                                                    <div class='box'>
                                                        <h3 class='title'>Rechercher</h3>
                                                        <form action="{{ path('oc_core_result_observation') }}" method='get'>
                                                            <div class='input-group'>
                                                                <input class='form-control' name="keyword" placeholder='Rechercher...' type='text'>
                                                                  <span class='input-group-btn'>
                                                                    <button class='btn btn-contrast' type='submit'>
                                                                        <i class='fa fa-search'></i>
                                                                    </button>
                                                                  </span>
                                                            </div>
                                                        </form>
                                                    </div>

                                                <div class="box sidebar-widget">
                                                    <h3 class="title">Ordres</h3>
                                                    <div class="list-group">

                                                        {% for order in orders %}
                                                            <a class="list-group-item" href="#"><i class='fa-icon-angle-right fa-icon-fixed-width'></i>
                                                                <span>{{ order.ordre }}</span>
                                                            </a>
                                                        {% endfor %}

                                                    </div>
                                                </div>

                                            </div>
                                        </nav>
                                    </div>

                                    <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                                        <div class='text-boxes portfolio-boxes blog-posts'>

                                            {% for observation in observations %}
                                                <div class='row text-box text-box-title-above'>
                                                    <div class='col-sm-12'>
                                                        <h2 class='title'><a href="{{ path('oc_core_details_observation', { 'id': observation.id }) }}">{{ observation.title|capitalize }}</a></h2>

                                                        <div class='toolbar'>
                                                            <a class='btn btn-link' href='#'>
                                                                <i class='fa-icon-calendar-empty'></i>
                                                                <span><i class="fa fa-calendar"></i> {{ observation.createdAt|date('d/m/Y') }}</span>
                                                            </a>
                                                            <a class='btn btn-link' href=''>
                                                                <i class='fa-icon-user'></i>
                                                                <span><i class="fa fa-user"></i> {{ observation.user.firstname|capitalize }} {{ observation.user.lastname|capitalize }}</span>
                                                            </a>

                                                        </div>

                                                        <div class='row'>


                                                            <div class='col-sm-3 portfolio-box portfolio-filter-photography portfolio-item'>
                                                                <a class="thumbnail-hover" href="{{ path('oc_core_details_observation', { 'id': observation.id }) }}">
                                                                    <div class='image-link'>
                                                                        <i class='fa-icon-search'></i>

                                                                        <img class="img-responsive center-block img-rounded-half" width="189" height="129" src="{{ asset('uploads/img/'~observation.image.url) }}" alt="{{ observation.image.alt }}">

                                                                    </div>
                                                                </a>
                                                            </div>


                                                            <div class='col-sm-9'>
                                                                <p>{{ observation.dsc }}</p>
                                                                <a class='btn btn-success' href="{{ path('oc_core_details_observation', { 'id': observation.id }) }}">En savoir plus</a>
                                                            </div>
                                                        </div>

                                                        <hr class='hr-half'>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <div class='fade' id='scroll-to-top'>
                            <i class='fa fa-icon-chevron-up'></i>
                       </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock body %}