<!DOCTYPE html>

<!--[if lt IE 9]> <html class="lt-ie9" lang="fr"> <![endif]-->
<!--[if !IE] -->
<html lang='fr'>
<!-- <![endif] -->
<head>

    <title>NAO | Accueil</title>

    <meta content='' name='keywords'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>

    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->

    <link href="assets/images/meta_icons/favicon.ico.png" rel='shortcut icon' type='image/x-icon'>
    <link href="assets/images/meta_icons/apple-touch-icon.png" rel='apple-touch-icon-precomposed'>

    {% block stylesheets %}

        {% stylesheets filter="cssrewrite, ?scssphp"
            'bundles/occore/css/bootstrap/bootstrap.min.css'
            'bundles/occore/css/jednotka_green.css'
            'bundles/occore/css/demo.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}


    {% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>


<body class='homepage'>
<div id='wrapper'>
    <header id='header'>
        <div class='container'>
            <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
                <div class='navbar-header'>
                    <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href="{{ path('oc_core_accueil') }}" >
                        <h1>NOA</h1>
                        <small>Fondation Nos Amis les Oiseaux</small>
                        <!--<img alt="logo.svg" width="117" height="39" src="{{ asset('bundles/occore/img/logo.svg') }}" />-->
                    </a>
                </div>
                <div class='collapse navbar-collapse navbar-header-collapse'>
                    <ul class='nav navbar-nav navbar-right'>
                        <li>
                            <a href='{{ path('oc_core_accueil') }}'><span>Accueil</span></a>

                        </li>
                        <li class='dropdown'>
                            <a href='{{ path('oc_core_especes') }}'><span>Les espèces</span></a>

                        </li>
                        <li>
                            <a href='{{ path('oc_core_contact') }}'><span>Contact</span></a>
                        </li>
                        <li>
                            <a href='#'><span>Connexion / Inscription</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


{% block body %}

{% endblock body %}

    <footer id='footer'>
        <div id='footer-main'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-4 col-sm-6 info-box'>

                        <h2 class='title'>Le mot du fondateur</h2>

                        <p class='no-mg-b'>Integer vulputate porta augue, sit amet interdum tellus commodo et. Sed volutpat neque vel turpis ultrices sini bibendum. Aliquam quis malesuada.</p>
                    </div>
                    <div class='col-md-3 col-md-offset-1 col-sm-6 info-box'>
                        <h2 class='title'>Contact</h2>
                        <div class='icon-boxes'>
                            <div class='icon-box'>
                                <div class='icon icon-wrap'>
                                    <i class='fa fa-map-marker'></i>
                                </div>
                                <div class='content'>
                                    10 rue du pigeonnier
                                    <br>
                                    75000 PARIS
                                </div>
                            </div>
                            <div class='icon-box'>
                                <div class='icon icon-wrap'>
                                    <i class='fa fa-phone'></i>
                                </div>
                                <div class='content'>
                                    <span>01 23 45 67 89</span>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class='col-md-4 col-sm-6 info-box'>
                        <h2 class='title'>Mon compte</h2>
                        <p><a href="">Je dispose d'un compte</a></p>
                        <p><a href="">Je desire créer un compte</a></p>

                    </div>
                </div>
            </div>
        </div>
        <div id='footer-copyright'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12 clearfix'>
                        <p class='copyright'>
                            Copyright &copy; 2016 - NAO
                        </p>
                        <!--<div class='links'>
                            <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                                <i class='fa fa-twitter text-dark'></i>
                            </a>
                            <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                                <i class='fa fa-dribbble text-dark'></i>
                            </a>
                            <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                                <i class='fa fa-facebook text-dark'></i>
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- #wrapper -->

{% block javascripts %}

    {% javascripts
        'bundles/occore/js/jquery/jquery.min.js'
        'bundles/occore/js/jquery/jquery.mobile.custom.min.js'
        'bundles/occore/js/bootstrap/bootstrap.min.js'
        'bundles/occore/js/plugins/modernizr/modernizr.custom.min.js'
        'bundles/occore/js/plugins/hover_dropdown/twitter-bootstrap-hover-dropdown.min.js'
        'bundles/occore/js/plugins/retina/retina.min.js'
        'bundles/occore/js/plugins/knob/jquery.knob.js'
        'bundles/occore/js/plugins/isotope/jquery.isotope.min.js'
        'bundles/occore/js/plugins/isotope/jquery.isotope.sloppy-masonry.min.js'
        'bundles/occore/js/plugins/validate/jquery.validate.min.js'
        'bundles/occore/js/plugins/flexslider/jquery.flexslider.min.js'
        'bundles/occore/js/plugins/countdown/countdown.js'
        'bundles/occore/js/plugins/nivo_lightbox/nivo-lightbox.min.js'
        'bundles/occore/js/plugins/cycle/jquery.cycle.all.min.js'
        'bundles/occore/js/jednotka.js'
        'bundles/occore/js/demo.js'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}



{% endblock %}


</body>

</html>