{% extends "OCBackBundle::layout.html.twig" %}

{% block content %}
    <section id="content">
        <div class="container">
            <header class="page-header">
                <h3><a href="{{ path('oc_back_homepage') }}">Accueil</a> / Aide</h3>
            </header>

            <div class="row">
                <div class="col-lg-6">

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-home"></i> Tableau de bord</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Votre tableau de bord pour permet d'avoir un aperçu rapide sur les réservations en ligne du musée.</p>
                            <p>Il se compose de quatre éléments pour récapituler le nombre de réservation, puis d'un calendrier pour visualiser les réservations antérieurs, actuelles ou futures.</p>
                            <p>Un menu "Accès rapide" se situe en haut à droite de l'écran et vous permet en un seul clic d'accéder aux parties les plus courantes de l'administration.</p>
                            <p class="text-center"><img src="{{ asset('bundles/ocback/img/aide_acces_rapide.png')}}" alt="aide acces rapide" width="50%"></p>
                            <p>En cliquant sur votre profil en haut à gauche, un menu déroulant apparaît pour vous permettre d'effectuer toutes les actions nécessaires relative à votre compte.</p>
                            <p class="text-center"><img src="{{ asset('bundles/ocback/img/aide_profil.png')}}" alt="aide profil" width="50%"></p>
                        </div>
                    </div>

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-money-box"></i> Tarifs</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Vous avez la possibilité de modifier les tarifs. Vous pouvez saisir des nombres décimales allant de 0 à 99. Le montant sera automatiquement arrondi à deux chiffres après la virgule.</p>
                            <p>Pour saisir un nouveau tarif, cliquez sur le bouton modifier et saisissez le nouveau montant. Cliquez sur changer pour terminer l'opération.</p>
                            <p class="text-center"><img src="{{ asset('bundles/ocback/img/aide_tarif.png')}}" alt="aide tarif" width="50%"></p>
                        </div>
                    </div>





                </div>

                <div class="col-lg-6">

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-account"></i> Utilisateurs</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Pour éviter une mauvaise manipulation et vous garantir un accès à la partie administration, vous ne pouvez pas supprimer directement votre compte.</p>
                            <p>Il est préférable de créer un nouvel utilisateur au lieu de partager votre compte avec vos propres identifiants de connexion.</p>
                        </div>
                    </div>


                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-trending-up"></i> Statistiques</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Vous trouverez un analyse des données suivantes :</p>
                            <p>Le nombres de réservations journalières, de la semaine précédente, du mois actuel apr rapport à la date du jour et enfin le nombre de réservations totales.</p>
                            <p>Le premier graphique repésente les 5 nations qui visitent le plus votre musée. Cela peut s'avérer utile pour prévoir des traducteurs.</p>
                            <p>Le deuxième graphique repésente le répartition des tarifs par catégorie de visiteurs. Ces informations utiles peuvent vous permettre de segmenter votre marché.</p>
                        </div>
                    </div>

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-calendar"></i> Calendrier</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Le calendrier affiche le nombre de tickets réservés par les internautes. Vous pouvez visualiser les réservations par mois ou par semaine en cliquant sur l'icône en haut à droite de celui-ci.</p>
                            <p class="text-center"><img src="{{ asset('bundles/ocback/img/aide_calendrier.png')}}" alt="aide calendrier" width="50%"></p>
                        </div>
                    </div>

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"><i class="zmdi zmdi-power-off"></i> Déconnexion</div>
                        </div>

                        <div class="t-body tb-padding">
                            <p>Il est préférable poour des raisons de sécurité de quitter l'application en cliquant sur les liens de déconnexion. Fermer la fenêtre du navigateur peut permettre à celui de garder en mémoire des informations sur votre session.</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>

{% endblock content %}