{% extends "OCBackBundle::layout.html.twig" %}

{% block content %}
    <section id="content">
        <div class="container">
            <header class="page-header">
                <h2 class="text-center">Accueil</h2>
            </header>
            <br><br>


            <div class="row">

                <div class="col-md-6 col-sm-12">

                    <a class="home-link" href="{{ path('oc_back_observation_create') }}">
                        <div class="col-md-6 col-sm-12">
                            <div class="o-item bg-cyan card">
                                <div class="oi-title text-center">
                                    <p><i class="zmdi zmdi-plus zmdi-hc-5x"></i></p>
                                    <span> Ajouter une observation</span>
                                </div>

                            </div>
                        </div>
                    </a>

                    {% if  (app.user.roles|first == 'ROLE_NATURALISTE') or (app.user.roles|first == 'ROLE_ADMIN') %}

                        <a class="home-link" href="{{ path('oc_back_observations') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-amber card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-eye zmdi-hc-5x"></i></p>
                                        <span> Consulter les observations</span>
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a class="home-link" href="{{ path('oc_back_observation_unvalidated') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-red card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-check zmdi-hc-5x"></i></p>
                                        <span> Valider les observations</span>
                                    </div>
                                </div>
                            </div>
                        </a>


                    {% else %}

                        <a class="home-link" href="{{ path('oc_back_my_observations') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-amber card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-eye zmdi-hc-5x"></i></p>
                                        <span> Consulter mes observations</span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    {% endif %}

                    {%  if  app.user.roles|first == 'ROLE_ADMIN' %}

                        <a class="home-link" href="{{ path("oc_back_users") }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-indigo card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-accounts zmdi-hc-5x"></i></p>
                                        <span> Utilisateurs</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}


                    <a class="home-link" href="{{ path("oc_back_profile") }}">
                    <div class="col-md-6 col-sm-12">
                        <div class="o-item bg-green card" >
                            <div class="oi-title text-center">
                                <p><i class="zmdi zmdi-account zmdi-hc-5x"></i></p>
                                <span> Mon compte</span>
                            </div>
                        </div>
                    </div>
                    </a>

                    <a class="home-link" href="{{ path("oc_back_help") }}">
                        <div class="col-md-6 col-sm-12">
                            <div class="o-item bg-bluegray card">
                                <div class="oi-title text-center">
                                    <p><i class="zmdi zmdi-help zmdi-hc-5x"></i></p>
                                    <span> Aide</span>
                                </div>


                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">


                        <div class="col-md-6 col-sm-12">
                            <div class="o-item bg-cyan card">
                                <div class="oi-title text-center">
                                    <p class="stat-nb">{{ nbObservations }}</p>
                                    <span class="stat-title"></i> Nombre d'observations</span>
                                </div>

                            </div>

                        </div>


                        <div class="col-md-6 col-sm-12">
                            <div class="o-item bg-amber card">
                                <div class="oi-title text-center">
                                    <p class="stat-nb">{{  nbSpecies }}</p>
                                    <span class="stat-title"> Nombre d'espèces</span>
                                </div>

                            </div>
                        </div>


                    <div class="col-md-6 col-sm-12">
                        <div class="o-item bg-green card" >
                            <div class="oi-title text-center">
                                <p class="stat-nb">{{ nbUser }}</p>
                                <span class="stat-title"> Nombre d'utilisateurs</span>
                            </div>


                        </div>
                    </div>

                    {% if  (app.user.roles|first == 'ROLE_NATURALISTE') or (app.user.roles|first == 'ROLE_ADMIN') %}



                        <a class="home-link" href="{{ path('oc_back_observation_unvalidated') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-indigo card">
                                    <div class="oi-title text-center">
                                        <p class="stat-nb">{{ nbInvalidated }}</p>
                                        <span class="stat-title"> Attentes de validation</span>
                                    </div>


                                </div>
                            </div>
                        </a>

                        <a class="home-link" href="{{ path('fos_user_security_logout') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-red card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-power-off zmdi-hc-5x"></i></p>
                                        <span> Déconnexion</span>
                                    </div>


                                </div>
                            </div>
                        </a>

                    {% else %}

                        <a class="home-link" href="{{ path('fos_user_security_logout') }}">
                            <div class="col-md-6 col-sm-12">
                                <div class="o-item bg-red card">
                                    <div class="oi-title text-center">
                                        <p><i class="zmdi zmdi-power-off zmdi-hc-5x"></i></p>
                                        <span> Déconnexion</span>
                                    </div>


                                </div>
                            </div>
                        </a>

                    {% endif %}

                </div>
            </div>


        </div>
    </section>

{% endblock %}

{% block custom_script %}

{% endblock custom_script %}