{% extends "OCBackBundle::layout.html.twig" %}

{% block content %}
    <section id="content">
        <div class="container">
            <header class="page-header">
                <h3><i class="zmdi zmdi-account"></i> {{ app.user|upper }}</h3>
            </header>

            <div class="tile" id="profile-main">
                <div class="pm-overview c-overflow-dark">
                    <div class="pmo-pic">
                        <div class="p-relative">
                            <a href="">
                                <img class="img-responsive" src="{{ asset('bundles/ocback/img/2.jpg') }}" alt="avatar profil">
                            </a>

                        </div>

                    </div>

                    <div class="pmo-block pmo-contact hidden-xs">
                        <h2>Profil</h2>

                        <ul>
                            <li><i class="zmdi zmdi-account"></i> {{ app.user }}</li>
                            <li><i class="zmdi zmdi-email"></i> {{ app.user.email }}</li>
                        </ul>
                        <br>
                        <h2>Dernière connexion</h2>
                        <ul>
                            <li><i class="zmdi zmdi-calendar-alt"></i> {{ app.user.lastLogin|date('d/m/Y') }}</li>
                        </ul>

                    </div>


                </div>

                <div class="pm-body clearfix">


                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-thumb-up"></i> Conseil</h2>


                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                Il est judicieux de changer régulièrement son mot de passe afin se sécuriser l'accès à votre partie administration. Veuillez choisir de préférence un mot de passe non utilisé dans vos autres applications. Pour garantir une meilleur sécurité, optez pour un mot de passe alphanumérique comportant au minimum 8 caractères.
                            </div>


                        </div>
                    </div>

                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-lock"></i> Changer de mot de passe</h2>
                            <br>
                            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

                        </div>

                        <div id="divFormPwd" class="pmbb-body p-l-30">


                            {% for flashMessage in app.session.flashbag.get('success') %}

                                <div class="alert alert-success">  {{ flashMessage }} </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>



            </div>
        </div>
        </div>
    </section>

{% endblock content %}