<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">


    <meta name="robots" content="noindex, nofollow, noarchive">

    <title>Authentification</title>

    <link href="{{ asset('bundles/ocback/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ocback/css/material-design-iconic-font.min.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/ocback/css/app.min.css') }}"  rel="stylesheet">
</head>


{% block body %}

{% endblock body %}

<!-- Javascript Libraries -->
<script src="{{ asset('bundles/ocback/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/ocback/js/bootstrap.min.js') }}"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="{{ asset('bundles/ocback/js/jquery.placeholder.min.js') }}"></script>
<![endif]-->

<script src="{{ asset('bundles/ocback/js/functions.js') }}"></script>
</body>
</html>