{% extends "OCBackBundle::layout.html.twig" %}

{% block content %}
    <section id="content">
        <div class="container">
            <header class="page-header">
                <h3><a href="{{ path('oc_back_homepage') }}">Accueil</a> / Ajouter une observation</h3>
            </header>
            <br><br>

            <div class="row">
                <div class="col-lg-8 col-md-offset-2 col-md-12 col-sm-12">

                    <!-- Body Copy -->
                    <div class="tile">
                        <div class="t-header">
                            <div class="th-title"> Ajouter une observation</div>
                        </div>

                        <br>

                        <div class="t-body tb-padding">

                            <form name="observation" method="post" enctype="multipart/form-data">

                                <div class='row'>
                                    {% if mobile %}

                                    <div class="col-sm-6">

                                        <div class='form-group control-group'>


                                            <div class="input-file-container">
                                                <input class="input-file" id="my-file" type="file" accept="image/*" name="observation[image][file]" capture="camera">
                                                <label for="my-file" class="input-file-trigger" tabindex="0"><i class="zmdi zmdi-camera"></i> Prendre une photo...</label>
                                            </div>
                                            <p class="file-return"></p>
                                        </div>

                                        <br>
                                    </div>
                                    {% endif  %}
                                    {% if mobile==false %}

                                    <div class="col-lg-6 col-sm-12">
                                    {% else %}
                                      <div class="col-sm-6">
                                    {% endif %}

                                        <div class='form-group control-group'>

                                            <div class="input-file-container">
                                                <input class="input-file" id="my-file" type="file" accept="image/*" name="observation[image][file]">
                                                <label for="my-file" class="input-file-trigger" tabindex="0"><i class="zmdi zmdi-image"></i> Chargez une image...</label>
                                            </div>
                                            <p class="file-return"></p>
                                        </div>



                                        <br>
                                    </div>
                                        <div class="text-center">
                                            <p>(Seulement les fichiers avec les extensions png, jpeg et jpg sont autorisés.)</p>

                                        </div>

                                    <div class='col-lg-12 col-sm-12 col-xs-12'>
                                        <div class='form-group control-group'>
                                            <label class="required">Titre</label><br>
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class='col-lg-12 col-sm-12 col-xs-12'>
                                        <div class='form-group control-group'>
                                            <label class="required">Description</label><br>

                                            {{ form_widget(form.dsc, {'attr': {'class': 'form-control', 'placeholder': 'Description', 'rows': 8}}) }}
                                        <br>
                                        </div>
                                    </div>
                                    <br><br>

                                     <input type="hidden" name="observation[latitude]" value="{{ lat }}">
                                     <input type="hidden" name="observation[longitude]" value="{{ long }}">
                                     {#<input id="latitude" type="hidden" name="observation[latitude]" value="">
                                     <input id="longitude" type="hidden" name="observation[longitude]" value="">#}

                                </div>

                                {{ form_row(form._token) }}
                                </div>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                    <br>
                                        <button class='btn btn-success btn-block btn-lg form-contact-submit'  type='submit'>
                                            Ajouter
                                        </button>
                                    </div>

                                </div>
                            </form>


                        </div>

                        <div class="text-center">
                            <br>
                            <a href="{{ path('oc_back_homepage') }}" class="btn btn-success text-center">Retour à l'accueil</a>

                        </div>
                    </div>



                </div>

            </div>
        </div>

    </section>





{% endblock content %}

{% block custom_script %}

    <script type="text/javascript">

         if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
         else
            alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");

         function successCallback(position) {
             console.log("Latitude : " + position.coords.latitude + ", longitude : " + position.coords.longitude);
             document.getElementById("latitude").value = position.coords.latitude;
             document.getElementById("longitude").value = position.coords.longitude;
         }

         function errorCallback(error) {
             switch (error.code) {
                 case error.PERMISSION_DENIED:
                     console.log("L'utilisateur n'a pas autorisé l'accès à sa position");
                     break;
                 case error.POSITION_UNAVAILABLE:
                     console.log("L'emplacement de l'utilisateur n'a pas pu être déterminé");
                     break;
                 case error.TIMEOUT:
                     console.log("Le service n'a pas répondu à temps");
                     break;
             }
         }

    </script>
{% endblock custom_script %}